.ico-player {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.ico-player-yellow {
  top: 150px;
  left: 50px;
}
.ico-player-red {
  bottom: 100px;
  right: 100px;
}
.ico-player-black {
  top: 450px;
  left: 100px;
}

.ico-player img {
  width: 100px;
  min-height: auto;
}

.video-visbility {
  visibility: hidden;
}
